@keyframes gradual {
  0% {fill: #FE2E64;}
  100% {fill: #E8E9E7;}
}

@-webkit-keyframes gradual {
    0% {fill: #FE2E64;;}
    100% {fill: #E8E9E7;}
}

@-moz-keyframes gradual {
  0% {fill: #FE2E64;;}
  100% {fill: #E8E9E7;}
}

body {
  /*background-color: #68ae9f;*/
  background-color: #151515;
/*  background-image: url("../img/lethal-injection.jpg");
  background-size: cover;*/
}

h1, h2, h3 {
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  color: white;
}

h4 {
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  color: white;
  size: 12px;
}

a, a:visited {
  color:#333;
}

#container {
  padding-top: -100px;
  width: 1208px;
/*  border-left: 2px #ddd solid;
  border-right: 2px #ddd solid;*/
}

header {
  padding: 30px 0 0 0;
  position: absolute;
}

#book-title {
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  color: #555;
  font-size: 2em;
  /*text-align: center;*/
}

#text-select {
  float:right;
  margin-top: 50px;
  margin-right: 10px;
}

#vis {
  overflow: hidden;
  position: relative;
  top: 150px;
}

#status {
  padding:0 0 20px 20px;
}

#bubble-background {
  fill: transparent;
  pointer-events: all;
}

.bubble-node {
  /* fill: #d1e0f3; */
  /*fill: #DCE9BE;*/
  /*fill: #b10b55;*/
  /*fill: #ae2555;*/
  fill: #FE2E64;
  /*fill: #DF013A;*/
  /*fill: #E8196C;*/
}

.bubble-hover {
  /* fill: #b8c7d9; */
  -webkit-animation: gradual 0.25s 1;  /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: ease-in;  /* Chrome, Safari, Opera */
  -moz-animation: gradual 0.25s 1;  /* Chrome, Safari, Opera */
  -moz-animation-timing-function: ease-in;  /* Chrome, Safari, Opera */
  animation-timing-function: ease-in;
  animation: gradual 0.25 1;
  fill: #E8E9E7;
}


.bubble-selected {
  /* fill: #a8c8ee;  */
  fill: #f29e07;
  /* stroke: #6081a3; */
  /*stroke: white;*/
  stroke-width: 1.5px;
}

.active {
  color: 3;
}

a.bubble-label {
  font-family: garamond, "times new roman", times, serif;
  color: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}


.bubble-label .bubble-label-value {
  font: 9px sans-serif;
  white-space: nowrap;
}

footer p {
  text-align: center;
  padding-top:20px;
  padding-bottom:20px;
  font: 13px sans-serif;
}

.same-group {
  color: 'black';
  background-color: "black";
}

#group-info {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  font-family: Helvetica, sans-serif ;
  /*font-weight: 800;*/
  font-size: 400px;
  color: white;
  opacity: 0.4;
  position: absolute;
  top: 325px;
  z-index: -1;
}

#example {
  position: relative;
  top: 100px;
  color: white;
  font-size: 20px;
  line-height: 5px;
  max-width: 800px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#example {
  line-height: 30px;
}

#read-more {
  color: white;
  font-size: 14px;
  margin-top: -20px;
  color: #555;
}

#desc {
  color: #E8E6E6;
  font-size: 12px;
  max-width: 900px;
  position: absolute;
  top: 110px;
}
